{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typepresidence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typePresidence.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typePresidence.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typePresidence.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typePresidence.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typePresidence.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typePresidence.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typePresidence.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typePresidence.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_typepresidence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_typepresidence_edit', { 'id': typePresidence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
