{% extends 'base.html.twig' %}

{% block body %}

    <div id="rs-slider" class="rs-slider-section">
        <div id="home-slider">
            {% for slider in sliders %}
                {% if (loop.index == 1) %}
                    <div class="item active">
                        <img src="{{ asset('uploads/sliders/'~ slider.imageName) | imagine_filter('slider') }}" alt="{{ slider.titre }}" />
                        <div class="slide-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="container">
                                        <div data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">{{ slider.type }}</div>
                                        <h1 class="slider-title" data-animation-in="fadeInLeft" data-animation-out="animate-out">
                                            <span>{{ slider.titre }}</span>
                                        </h1>
                                        <a href="#" class="primary-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out"><i class="fa fa-eye"></i> Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item active">
                        <img src="{{ asset('uploads/sliders/'~ slider.imageName) | imagine_filter('slider') }}" alt="{{ slider.titre }}" />
                        <div class="slide-content">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <div class="container">
                                        <div data-animation-in="fadeInUp" data-animation-out="animate-out" class="slider-desc">{{ slider.type }}</div>
                                        <h1 class="slider-title" data-animation-in="fadeInLeft" data-animation-out="animate-out">
                                            <span>{{ slider.titre }}</span>
                                        </h1>
                                        <a href="#" class="primary-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out"><i class="fa fa-eye"></i> Voir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>


    <div class="rs-coming-soon">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="countdown-section"></div>
                    <div id="countdown-3"></div>
                    <div style="font-style: italic; color: #fff; font-size: 18px; font-weight: bold; padding-top: 25px; text-transform: uppercase">
                        Du début de la 3ème édition du Festival
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rs-about" class="rs-about sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="sec-title2">
                        <span>Le Festival des Arts de la Culture DAN</span>
                        <h2>Tonkpi Nihidaley</h2>
                    </div>
                    <div class="about-des">
                        <p>Prévue du 1er au 10 décembre 2018 à Man dans l’Ouest de la Côte d’Ivoire, la deuxième édition du TONKPI NIHIDALEY, appellation du Festival des Arts et de la culture Dan, se situe dans un double contexte de sauvegarde de la culture Dan et du Développement de la Région du Tonkpi.</p>
                        <p>
                            En effet, dans un monde et à une période où tout est soumis à un perpétuel mouvement de changement à grande échelle, dans un contexte de mondialisation où tout se mélange, le patrimoine culturel apparait comme, à la fois, l’expression de l’identité et de la différence des peuples. Au moment où les progrès des sciences, des techniques et...

                        </p>
                        <a class="primary-btn" href="{{ absolute_url(path('frontend_presentation')) }}">Lire la suite </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-image mmt-40">
                        <img class="large" src="{{ absolute_url(asset('ressources/img/09.jpg')) }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="join-our-events sec-spacer gray-color">
        <div class="container">
            <div class="sec-title2">
                <span>Tonkpi Nihidaley</span>
                <h4>Contribuer à la valorisation et au rayonnement de la culture et de l’identité Dan.</h2>
            </div>
            <div class="row choose-list center-box">
                <div class="col-lg-4">
                    <div class="choose-item rs-animation-hover">
                        <p>Contribuer à la promotion et à la préservation des expressions culturelles, artistiques et des sites naturels de la Région du Tonkpi ;</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="choose-item rs-animation-hover">
                        <p>Constituer une plate-forme de rencontres d’échanges et de promotion des activités relevant de la culture, du tourisme et de l’économie ;</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="choose-item rs-animation-hover">
                        <p>Faire de la culture un socle du développement de la Région du Tonkpi ; <br>
                            Contribuer à la consolidation de la cohésion sociale
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rs-blog" class="rs-blog sec-spacer">
        <div class="container">
            <div class="sec-title2">
                <span>Tonkpi Nihidaley</span>
                <h2>Actualités</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                        {% for actualite in actualites %}
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}" title="{{ actualite.titre }}"><img src="{{ asset('uploads/activites/'~ actualite.imageName) | imagine_filter('actualite_pt') }}" alt="{{ actualite.titre }}" /></a>
                                </div>
                                <div class="blog-details">
                                    <div class="blog-date">{{ actualite.date|date('d M Y') }}</div>
                                    <h4 class="blog-title"><a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}" title="{{ actualite.titre }}">{{ actualite.titre }}</a></h4>
                                    <p>{{ actualite.resume|raw }}</p>
                                    <a class="readmore-btn" href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">Lire suite</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div><!-- .row -->
            </div>
        </div><!-- .container -->
    </div>

    <div class="rs-gallery rs-gallery-section sec-spacer section-image2 pt-100">
        <div class="container">
            <div class="sec-title2">
                <span>Galerie</span>
                <h2>Temps forts de l'édition 2018</h2>
            </div>
        </div><!-- .container -->

        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="0" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            {% for photo in galeries %}
                <div class="single-gallery">
                    <img src="{{ asset('uploads/galeries/'~ photo.imageName) | imagine_filter('galerie_cover') }}" alt="{{ photo.titre }}" />
                    <div class="popup-icon">
                        <a class="image-popup" href="{{ asset('uploads/galeries/'~ photo.imageName) | imagine_filter('galerie_photo') }}" title="{{ photo.titre }}">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div><!-- .rs-carousel -->
    </div>

{% endblock %}

