{% extends 'base.html.twig' %}

{% block title %}Les actualités {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />
    </div>
    <div id="rs-blog" class="rs-blog blog-pages">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for actualite in actualites %}
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}"><img src="{{ asset('uploads/activites/'~ actualite.imageName) | imagine_filter('actualite_pt') }}" alt="" /></a>
                                    </div>
                                    <div class="blog-details">
                                        <div class="blog-meta">
                                            <div class="blog-date">{{ actualite.date|date('d M Y') }}</div>
                                        </div>
                                        <h4 class="blog-title"><a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">{{ actualite.titre }}</a></h4>
                                        <p>At vero eos et accusamus et iusto odio dignissi mos ducimus qui blanditiis praesentium volup tatum deleniti atque</p>
                                        <a class="readmore-btn" href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">Lire suite
                                            <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div><!-- .blog-item -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 mmt-10 col-md-12">
                    <div class="sidebar-area">

                        <div class="latest-courses">
                            <h4 class="title">Programme du 01/12/2018</h4>
                            <div class="post-item">
                                <div class="">
                                    <h4><a href="#"> <i class="fa fa-clock-o"></i> 11h - 14h </a></h4>
                                    <span class="date">Ouverture officielle du village Tonkpi Nihidaley Et de l’espace gastronomique</span>
                                </div>
                            </div><!-- .post-item end -->
                            <div class="post-item">
                                <div class="">
                                    <h4><a href="#"><i class="fa fa-clock-o"></i> 15h - 18h </a></h4>
                                    <span class="date">Lancement des sports patrimoniaux</span>
                                </div>
                            </div><!-- .post-item end -->
                            <div class="post-item">
                                <div class="">
                                    <h4><a href="#"><i class="fa fa-clock-o"></i> 20h - 23h </a></h4>
                                    <span class="date">Animation  avec les sponsors (camion podium)</span>
                                </div>
                            </div><!-- .post-item end -->
                        </div>
                        <div class="tags-cloud clearfix">
                            <div id="fb-root"></div>
                            <div class="fb-page" data-href="https://www.facebook.com/Nihidaley/" data-tabs="timeline"  data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Nihidaley/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nihidaley/">Tonkpi Nihidaley: Festival des Arts et de la Culture Dan</a></blockquote></div>
                        </div><!-- .tags-cloud end -->
                    </div><!-- .sidebar-area end -->
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
{% endblock %}