{% extends 'base.html.twig' %}

{% block title %}Les actualités {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />
    </div>
    <div id="rs-blog" class="rs-blog blog-pages">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for actualite in actualites %}
                            <div class="col-md-6">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}"><img src="{{ asset('uploads/activites/'~ actualite.imageName) | imagine_filter('actualite_pt') }}" alt="" /></a>
                                    </div>
                                    <div class="blog-details">
                                        <div class="blog-meta">
                                            <div class="blog-date">{{ actualite.date|date('d M Y') }}</div>
                                        </div>
                                        <h4 class="blog-title"><a href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">{{ actualite.titre }}</a></h4>
                                        <p>At vero eos et accusamus et iusto odio dignissi mos ducimus qui blanditiis praesentium volup tatum deleniti atque</p>
                                        <a class="readmore-btn" href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}">Lire suite
                                            <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div><!-- .blog-item -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 mmt-10 col-md-12">
                    {{ render(url('frontend_bloc')) }}
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
{% endblock %}