{% extends 'base.html.twig' %}

{% block title %} {{ actualite.titre }} {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />
    </div>

    <div id="rs-blog" class="single-blog-details sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 text-justify">
                    <div class="single-image">
                        <img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" alt="actualite">
                    </div>
                    <h4 class="top-title">{{ actualite.titre     }}</h4>
                    <p>
                        {{ actualite.contenu|raw }}
                    </p>

                    <div class="row">
                        <div class="col-md-12 pull-right text-right">
                            <a href="{{ absolute_url(path('frontend_actualites')) }}">
                                <i class="fa fa-home fa-2x"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 mmt-40">
                    {{ render(url('frontend_bloc')) }}
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>

{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ actualite.tags|join(',') }}"  />
    <meta name="description" content="{{ actualite.resume|raw}}" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="ESTHETE, Delrodie AMOIKON">
    <meta name="Copyright" content="www.tonkpinihidaley.ci">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="Les actualités" />
    <meta property="og:description" content="{{ actualite.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}" />
    <meta property="og:site_name" content="TONKPI NIHIDALEY" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="{{ actualite.publieLe|date('Y-m-d') }}T{{ actualite.publieLe|date('H:i:s') }}+00:00" />
    <meta property="article:modified_time" content="{{ actualite.modifieLe|date('Y-m-d') }}T{{ actualite.modifieLe|date('H:i:s') }}+00:00" />
    <meta property="og:updated_time" content="{{ actualite.modifieLe|date('Y-m-d') }}T{{ actualite.modifieLe|date('H:i:s') }}+00:00" />
    {% if (actualite.imageName) %}
        <meta property="og:image" content="{{ absolute_url(vich_uploader_asset(actualite, 'imageFile')) }}" />
    {% else %}
        <meta property="og:image" content="{{ absolute_url(asset('ressources/img/logo3.png')) }}" />
    {% endif %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ actualite.resume|raw }}"/>
    <meta name="twitter:title" content="Liste des actualités"/>
    <meta name="twitter:domain" content="{{ absolute_url(path('frontend_actualite_show',{'slug': actualite.slug})) }}"/>
    {% if (actualite.imageName) %}
        <meta name="twitter:image:src" content="{{ absolute_url(vich_uploader_asset(actualite, 'imageFile')) }}"/>
    {% else %}
        <meta name="twitter:image:src" content="{{ absolute_url(asset('ressources/img/logo3.png')) }}"/>
    {% endif %}
{% endblock %}

