{% extends 'base.html.twig' %}

{% block title %} {{ actualite.titre }} {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />
    </div>

    <div id="rs-blog" class="single-blog-details sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 text-justify">
                    <div class="single-image">
                        <img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" alt="presentation">
                    </div>
                    <h4 class="top-title">{{ actualite.titre     }}</h4>
                    <p>
                        {{ actualite.contenu|raw }}
                    </p>

                    <div class="row">
                        <div class="col-md-12 pull-right text-right">
                            <a href="{{ absolute_url(path('frontend_actualites')) }}">
                                <i class="fa fa-home fa-2x"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 mmt-40">
                    {{ render(url('frontend_bloc')) }}
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>

{% endblock %}

{% block meta %}

{% endblock %}

