{% extends 'base.html.twig' %}

{% block title %}Liste des membres de la commission operationelle du festival Tonkpi Nihidaley {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />

    </div>

    <div id="rs-team" class="rs-team fullwidth-team pt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="team-name text-center mb-5">LA COMMISSION OPERATIONELLE</h2>
                </div>
            </div>
            <div class="row">
                {% for operation in operations %}
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                {% if operation.imageName %}
                                    <img src="{{ asset('uploads/comite/'~ operation.imageName) | imagine_filter('comite') }}" alt="{{ operation.identite }}" />
                                {% else %}
                                    <img src="{{ absolute_url(asset('ressources/img/comite/avatar.jpg')) }}" alt="{{ operation.identite }}" />
                                {% endif %}_
                                <div class="normal-text">
                                    <h4 class="team-name">{{ operation.identite }} </h4>
                                    <span class="subtitle">{{ operation.fonction }} </span>
                                </div>
                            </div>
                            <div class="team-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="team-details">
                                            <h4 class="team-name">
                                                <a href="{{ absolute_url(path('frontend_comoperation_show', {'slug': operation.slug})) }}">{{ operation.identite }} </a>
                                            </h4>
                                            <span class="postion">{{ operation.fonction }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}