{% extends 'base.html.twig' %}

{% block title %}Les actualités {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />
    </div>
    <div id="rs-blog" class="rs-blog blog-pages">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for rapport in rapports %}
                            <div class="col-md-6 list-rapport">
                                <div class="blog-item">
                                    <div class="blog-img text-center">
                                        <a href="{{ absolute_url(asset('documents/rapports/'~ rapport.imageName)) }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x"></i></a>
                                    </div>
                                    <div class="blog-details">
                                        <div class="blog-meta">
                                            <div class="blog-date">{{ rapport.date|date('d M Y') }}</div>
                                        </div>
                                        <h4 class="blog-title"><a href="{{ absolute_url(asset('documents/rapports/'~rapport.imageName)) }}" target="_blank">{{ rapport.titre }}</a></h4>
                                        <p>{{ rapport.resume|raw }}</p>
                                        <a class="readmore-btn" href="{{ absolute_url(asset('documents/rapports/'~rapport.imageName)) }}" target="_blank">Télécharger
                                            <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div><!-- .blog-item -->
                            </div>
                        {% endfor %}
                    </div>
                    <div class="paginator"></div>
                </div>
                <div class="col-lg-4 mmt-10 col-md-12">
                    {{ render(url('frontend_bloc')) }}
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}

    <script src="{{ absolute_url(asset('ressources/js/pagination.js')) }}"></script>
    <script>
        $(document).ready(function() {
            pagination(6,'.list-rapport','.paginator',3);
        });
    </script>
{% endblock %}