{% extends 'backend.html.twig' %}

{% block title %}{{ parent () }} Liste des presidents{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Liste des presidents</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_presidence_index'))}}">Comité d'Organisation</a></li>
            <li class="breadcrumb-item active">Liste des presidents</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header text-right">
                <a href="{{ absolute_url(path('backend_presidence_new'))}}" class="btn btn-social btn-primary"><i class="fa fa-plus"></i>Ajouter une identité</a>
            </div>

            <div class="row">
                {% for presidence in presidences %}
                    <div class="col-md-12 col-lg-3">
                        <div class="box box-default" style="height: 500px">
                            {% if presidence.imageName %}
                                <img class="card-img-top img-responsive" src="{{ vich_uploader_asset(presidence, 'imageFile') }}" alt="{{ presidence.identite }}">
                            {% else %}
                                <img class="card-img-top img-responsive" src="{{ absolute_url(asset('ressources/img/comite/avatar.jpg')) }}" alt="{{ presidence.identite }}" width="250">
                            {% endif %}
                            <div class="box-body">
                                <h4 class="card-title">
                                    {% if presidence.statut %}
                                        <span class="badge badge-success">{{ presidence.type.libelle }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ presidence.type.libelle }}</span>
                                    {% endif %}
                                    {{ presidence.identite }}
                                </h4>
                                <p class="card-text text-justify">{{ presidence.mission|raw }}</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{{ absolute_url(path('backend_presidence_edit', {'slug': presidence.slug})) }}" >
                                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                                    </a>
                                    <a href="{{ absolute_url(path('backend_presidence_show', {'slug': presidence.slug})) }}" >
                                        <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i> Consulter</button>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                {% else %}

                {% endfor %}
            </div>

    </section>
{% endblock %}
