{% extends 'backend.html.twig' %}

{% block title %}{{ parent() }} Enregistrement des presidents{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Enregistrement d'une activité</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_presidence_index'))}}">Comite</a></li>
            <li class="breadcrumb-item active">Enregistrement d'un nouveau president</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-warning">
                <div class="box-header text-right">
                    <a href="{{ absolute_url(path('backend_presidence_index'))}}" class="btn btn-social btn-primary"><i class="fa fa-list"></i>Liste des presidents</a>
                </div>
                <div class="box-body">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Titre</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.type)}}
                                            <span class="help-block">{{ form_errors(form.type)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Identité</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.identite)}}
                                            <span class="help-block">{{ form_errors(form.identite)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Fonction</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.fonction)}}
                                            <span class="help-block">{{ form_errors(form.fonction)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Contact</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.contact)}}
                                            <span class="help-block">{{ form_errors(form.contact)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Email</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.email)}}
                                            <span class="help-block">{{ form_errors(form.email)}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-12 control-label text-left">Mission</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.mission)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-12 control-label text-left">Activite</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.activite)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Telecharger l'illustration</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.imageFile)}}
                                            <span class="help-block">{{ form_errors(form.imageFile)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 control-label text-left"></div>
                                        <div class="checkbox col-sm-12">
                                            {{ form_widget(form.statut)}}
                                            <label for="appbundle_presidence_statut">Activé</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="box-footer text-right">
                                <button type="reset" class="btn btn-default">Annuler</button>
                                <button type="submit" class="btn btn-info">Enregistrer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {% stylesheets
        'backoffice/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css'
        'backoffice/tags/tagsinput.css'
        filter='cssrewrite' output='backoffice/css/editeur.css'
    %}
        <link rel="stylesheet" href="{{ absolute_url(asset_url)}}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {% javascripts
        'backoffice/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js'
        'backoffice/js/pages/editor.js'
        output='backoffice/js/editeur.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>
    {% endjavascripts %}
    <script>
        $('#appbundle_presidence_activite').wysihtml5();
    </script>

{% endblock %}
