{% extends 'backend.html.twig' %}

{% block title %}{{ parent()}} Gestion des utilisateurs{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion des users</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('admin_user_index'))}}">users</a></li>
            <li class="breadcrumb-item active">Gestion</li>
        </ol>
    </section>

    <section class="content">
        <div class="box-header text-right">
            <a href="{{ absolute_url(path('admin_user_new'))}}" class="btn btn-social btn-primary"><i class="fa fa-plus"></i>Ajouter un nouvel utilisateur</a>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header">
                        <h3> Liste des utilisateurs</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive" cellspacing="0" width="100%">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">ID</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Emails</th>
                                <th class="text-center">Premiere</th>
                                <th class="text-center">Dernière</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="text-right">{{ loop.index }}</td>
                                    <td>{{ user.username }} </td>
                                    <td>{{ user.email }} </td>
                                    <td class="text-center">{{ user.firstLogin|date('Y-m-d H:i:s') }} </td>
                                    <td class="text-center">{{ user.lastLogin|date('Y-m-d H:i:s') }} </td>
                                    <td class="text-center">{{ user.loginCount }} </td>
                                    <td class="text-center">
                                        <a href="{{ absolute_url(path('admin_user_edit', {'id': user.id })) }}" class="text-primary" title="Modifier/Supprimer"><i class="fa fa-edit"></i></a> |
                                        <a href="#" class="text-primary" title="Voir les articles"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">Aucun users</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent ()}}
    {% javascripts
        'backoffice/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js'
        'backoffice/js/pages/data-table.js'
        output='backoffice/js/table.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>
    {% endjavascripts %}
{% endblock %}
