{% extends 'backend.html.twig' %}

{% block title %}{{ parent () }} {{ presentation.titre }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion de la présentation</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_presentation_index'))}}">presentations</a></li>
            <li class="breadcrumb-item active">{{ presentation.titre }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ absolute_url(path('backend_presentation_edit', {'slug': presentation.slug})) }}" >
                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                    </a>
                    <a href="{{ absolute_url(path('backend_presentation_index')) }}" >
                        <button type="button" class="btn btn-default"><i class="fa fa-list"></i> Liste des presentations</button>
                    </a>

                    {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sur de vouloir supprimer cette présentation ?");'}}) }}
                    <button type="submit" value="Supprimer" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="box box-default">
                        {% if presentation.imageName %}
                            <img class="card-img-top img-responsive" src="{{ vich_uploader_asset(presentation, 'imageFile') }}" alt="{{ presentation.titre }}">
                        {% else %}
                            <img class="card-img-top img-responsive" src="{{ absolute_url(asset('backoffice/images/logo.jpg')) }}" alt="{{ presentation.titre }}" width="250">
                        {% endif %}
                        <div class="box-body">
                            Date :
                            <h4 class="card-title">
                                {% if presentation.statut %}
                                    <span class="badge badge-primary">{{ presentation.titre }}</span>
                                    <span class="badge badge-success">Actif</span>
                                {% else %}
                                    <span class="badge badge-primary">{{ presentation.titre }}</span>
                                    <span class="badge badge-danger">Désactivé</span>
                                {% endif %}
                                {{ presentation.titre }}
                            </h4>
                            <p class="card-text">{{ presentation.contenu|raw }}</p>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

    </section>
{% endblock %}
