{% extends 'backend.html.twig' %}

{% block title %}{{ parent() }} Gestion des sites touristiques{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion des sites touristiques</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_tourisme_index'))}}">Tourisme</a></li>
            <li class="breadcrumb-item active">Modication</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-warning">
                <div class="box-header text-right">
                    <a href="{{ absolute_url(path('backend_tourisme_index'))}}" class="btn btn-social btn-primary"><i class="fa fa-list"></i>Liste des sites</a>
                </div>
                <div class="box-body">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            {{ form_start(edit_form, {'attr':{'class':'form-horizontal'}}) }}
                            <div class="row">
                                <div class="col-md-1 col-lg-2">.</div>
                                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Libelle</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(edit_form.libelle)}}
                                            <span class="help-block">{{ form_errors(edit_form.libelle)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Localisation</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(edit_form.localisation)}}
                                            <span class="help-block">{{ form_errors(edit_form.localisation)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-12 control-label text-left">Description</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(edit_form.description)}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Mots clés</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(edit_form.tags)}}
                                            <span class="help-block">{{ form_errors(edit_form.tags)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label text-left">Telecharger l'illustration</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(edit_form.imageFile)}}
                                            <span class="help-block">{{ form_errors(edit_form.imageFile)}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 control-label text-left"></div>
                                        <div class="checkbox col-sm-12">
                                            {{ form_widget(edit_form.statut)}}
                                            <label for="appbundle_tourisme_statut">Activé</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(edit_form) }}
                        <div class="box-footer text-right">
                            <a href="{{ absolute_url(path('backend_tourisme_index')) }}" class="btn btn-default">Annuler</a>
                            <button type="submit" class="btn btn-info">Modifier</button>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {% stylesheets
        'backoffice/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css'
        'backoffice/tags/tagsinput.css'
        'backoffice/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'
        'backoffice/assets/timepicker/jquery.timepicker.min.css'
        filter='cssrewrite' output='backoffice/css/editeur.css'
    %}
        <link rel="stylesheet" href="{{ absolute_url(asset_url)}}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {% javascripts
        'backoffice/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js'
        'backoffice/js/pages/editor.js'
        'backoffice/tags/tagsinput.js'
        'backoffice/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'
        'backoffice/assets/timepicker/jquery.timepicker.min.js'
        'backoffice/js/pages/bootstrap-datepicker.fr.min.js'
        output='backoffice/js/editeur.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>
    {% endjavascripts %}
    <script>

        $('#appbundle_tourisme_description').wysihtml5();
    </script>

{% endblock %}
