{% extends 'backend.html.twig' %}

{% block title %}{{ parent () }} Liste des tourismes{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion du tourisme </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_tourisme_index'))}}">Tourisme</a></li>
            <li class="breadcrumb-item active">Liste des tourismes</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header text-right">
                <a href="{{ absolute_url(path('backend_tourisme_new'))}}" class="btn btn-social btn-primary"><i class="fa fa-plus"></i>Ajouter un article</a>
            </div>

            <div class="row">
                {% for tourisme in tourismes %}
                    <div class="col-md-12 col-lg-3 list-tourisme">
                        <div class="box box-default" style="height: 500px">
                            {% if tourisme.imageName %}
                                <img class="card-img-top img-responsive" src="{{ vich_uploader_asset(tourisme, 'imageFile') }}" alt="{{ tourisme.libelle }}">
                            {% else %}
                                <img class="card-img-top img-responsive" src="{{ absolute_url(asset('backoffice/images/logo.jpg')) }}" alt="{{ tourisme.libelle }}" width="250">
                            {% endif %}
                            <div class="box-body">
                                <h4 class="card-title">
                                    {% if tourisme.statut %}
                                        <span class="badge badge-success">{{ tourisme.libelle }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ tourisme.libelle }}</span>
                                    {% endif %}
                                </h4>
                                <p class="card-text text-justify">{{ tourisme.resume|raw }}</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{{ absolute_url(path('backend_tourisme_edit', {'slug': tourisme.slug})) }}" >
                                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                                    </a>
                                    <a href="{{ absolute_url(path('backend_tourisme_show', {'slug': tourisme.slug})) }}" >
                                        <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i> Consulter</button>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                {% else %}

                {% endfor %}
            </div>
            <div class="paginator"></div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent () }}

    <script src="{{ absolute_url(asset('ressources/js/pagination.js')) }}"></script>
    <script>
        $(document).ready(function() {
            pagination(8,'.list-activite','.paginator',3);
        });
    </script>
{% endblock %}