{% extends 'backend.html.twig' %}

{% block title %}{{ parent () }} {{ tourisme.libelle }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ tourisme.libelle }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_tourisme_index'))}}">tourismes</a></li>
            <li class="breadcrumb-item active">{{ tourisme.libelle }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ absolute_url(path('backend_tourisme_edit', {'slug': tourisme.slug})) }}" >
                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                    </a>
                    <a href="{{ absolute_url(path('backend_tourisme_index')) }}" >
                        <button type="button" class="btn btn-default"><i class="fa fa-list"></i> Liste des tourismes</button>
                    </a>

                    {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sur de vouloir supprimer cet article ?");'}}) }}
                    <button type="submit" value="Supprimer" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="box box-default">
                        {% if tourisme.imageName %}
                            <img class="card-img-top img-responsive" src="{{ vich_uploader_asset(tourisme, 'imageFile') }}" alt="{{ tourisme.libelle }}">
                        {% else %}
                            <img class="card-img-top img-responsive" src="{{ absolute_url(asset('backoffice/images/logo.jpg')) }}" alt="{{ tourisme.libelle }}" width="250">
                        {% endif %}
                        <div class="box-body">
                            <h4 class="card-title">
                                {% if tourisme.statut %}
                                    <span class="badge badge-success">Actif</span>
                                {% else %}
                                    <span class="badge badge-danger">Désactivé</span>
                                {% endif %}
                                {{ tourisme.libelle }}
                            </h4>
                            <p class="card-text">{{ tourisme.description|raw }}</p>
                            <p class="card-text"></p>
                            {{ tourisme.libelle|raw }}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

    </section>
{% endblock %}
