{% extends 'backend.html.twig' %}

{% block title %}{{ parent()}} Gestion des sliders{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Gestion des sliders</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_slider_index'))}}">sliders</a></li>
            <li class="breadcrumb-item active">Liste</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <div class="box-header text-right">
                        <a href="{{ absolute_url(path('backend_slider_new'))}}" class="btn btn-social btn-primary"><i class="fa fa-plus"></i>Ajouter une slider</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive" cellspacing="0" width="100%">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">ID</th>
                                <th class="text-center">PHOTO</th>
                                <th class="text-center">TYPE</th>
                                <th class="text-center">LIBELLE</th>
                                <th class="text-center">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for slider in sliders %}
                                <tr>
                                    <td class="text-right">{{ loop.index }}</td>
                                    <td class="text-center"><img class="img-responsive" src="{{ vich_uploader_asset(slider, 'imageFile') }}" alt="{{ slider.titre }}" width="150px"></td>
                                    <td class="text-left">{{ slider.type }} {% if slider.statut %}<span class="badge badge-success"> Actif</span>{% else %}<span class="badge badge-danger">Désactivé</span>{% endif %}</td>
                                    <td>{{ slider.titre }} </td>
                                    <td class="text-center">
                                        <a href="{{ absolute_url(path('backend_slider_edit', {'slug': slider.slug })) }}" class="text-primary" title="Modifier/Supprimer"><i class="fa fa-edit"></i></a> |
                                        <a href="#" class="text-primary" title="Voir les articles"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">Aucune sliders</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent ()}}
    {% javascripts
        'backoffice/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js'
        'backoffice/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js'
        'backoffice/js/pages/data-table.js'
        output='backoffice/js/table.js'
    %}
        <script src="{{ absolute_url(asset_url)}}"></script>
    {% endjavascripts %}
{% endblock %}
