{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-element">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group has-feedback">
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required autocomplete="off"/>
        <span class="fa fa-user form-control-feedback"></span>
    </div>

     <div class="form-group has-feedback">
        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}"  />
        <span class="fa fa-key form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-6">
         <div class="fog-pwd">
          	<a href="javascript:void(0)"><i class="fa fa-lock"></i> Pass oublié ?</a><br>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-12 text-center">
          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-info btn-block btn-flat margin-top-10" />
        </div>
        <!-- /.col -->
      </div>     
    
</form>
<div class="margin-top-30 text-center">
    	<p>Vous n'avez pas de compte? <a href="{{ absolute_url(path('fos_user_registration_register'))}}" class="text-info m-l-5">S'inscrire</a></p>
    </div>
