{% extends 'backend.html.twig' %}

{% block title %}{{ parent () }} {{ comOperation.identite }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ comOperation.identite }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend'))}}"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ absolute_url(path('backend_comoperation_index'))}}">comOperations</a></li>
            <li class="breadcrumb-item active">{{ comOperation.identite }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ absolute_url(path('backend_comoperation_edit', {'slug': comOperation.slug})) }}" >
                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                    </a>
                    <a href="{{ absolute_url(path('backend_comoperation_index')) }}" >
                        <button type="button" class="btn btn-default"><i class="fa fa-list"></i> Liste des presidents</button>
                    </a>

                    {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sur de vouloir supprimer cet article ?");'}}) }}
                    <button type="submit" value="Supprimer" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Supprimer
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2">
                                    {% if comOperation.imageName %}
                                        <img class="card-img-top img-responsive" src="{{ vich_uploader_asset(comOperation, 'imageFile') }}" alt="{{ comOperation.identite }}">
                                    {% else %}
                                        <img class="card-img-top img-responsive" src="{{ absolute_url(asset('ressources/img/comite/avatar.jpg')) }}" alt="{{ comOperation.identite }}" width="250">
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <h4 class="card-title">
                                        {% if comOperation.statut %}
                                            <span class="badge badge-primary">{{ comOperation.fonction }}</span>
                                            <span class="badge badge-success">Actif</span>
                                        {% else %}
                                            <span class="badge badge-primary">{{ comOperation.fonction }}</span>
                                            <span class="badge badge-danger">Désactivé</span>
                                        {% endif %}
                                        {{ comOperation.identite }}
                                    </h4>
                                    <p class="card-text">{{ comOperation.activite|raw }}</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>

    </section>
{% endblock %}
