{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tourismephoto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tourismePhoto.id }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ tourismePhoto.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ tourismePhoto.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if tourismePhoto.updatedAt %}{{ tourismePhoto.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_tourismephoto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_tourismephoto_edit', { 'id': tourismePhoto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
